@import 'presets'

.strip-month
  background: url("ring.png") no-repeat center
  background-color: $ginga-verde
  padding: 40px 0
  position: relative
  min-width: 100%

  .container
    position: relative

p.size, p.record
  color: rgba(255, 255, 255, 0.17)
  font-size: 70px
  position: absolute
  top: 30px
  vertical-align: middle

p.record
  right: 0

p.post-strip
  color: white
  font-size: 30px
  line-height:  1.2

.post
  background-color: white
  border: 1px dashed $border
  // margin: 14px
  padding: 20px 20px 10px
  position: relative

  &:hover
    background-color: $base

  p
    margin: 20px 0

  p.post-date
    color: $gray
    font-size: 24px
    line-height: 0.1
    margin-bottom: 55px

  p.header > a
    color: $gray
    font-size: 16px
    height: 100%
    left: 0
    padding-top: 62px
    position: absolute
    top: 0
    width: 100%

.post-body
  z-index: 1
  position: relative

p.content
  font-size: 15px
  line-height: 1.6
  text-align: justify

.post-footer
  z-index: 1
  position: relative

  .tags, .by
    font-size: 15px

    i
      color: $gray
      margin: 6px 6px 0 0

  a
    z-index: 100

.not-yet
  font-size: 30px
  margin: 40px

  i
    margin: 14px