@import 'presets'

#remote
  margin-bottom: 80px
  min-height: 200px

.strip-month
  background: url("ring.png") no-repeat center
  background-color: $ginga
  padding: 40px 0
  width: 100%

.strip-empty
  background: url("smiley.png") no-repeat center
  background-color: rgba(86, 188, 188, 0.65)
  height: 160px
  width: 100%

p.post-strip
  color: white
  font-size: 30px
  line-height: 1.2

.corner-strip
  // border: $ginga 1px dashed
  background-color: $base
  color: $gray
  font-size: 16px
  margin-bottom: 1px
  padding: 40px 0

  p
    margin: 0
  
  i
    margin: 6px

// .row-fluid [class*="span"]:nth-child(3n + 1)
.row-fluid [class*="span"]
  margin: 0

.post
  padding: 20px 20px 10px
  position: relative

  &:hover
    background-color: $base

  p
    margin: 20px 0

  span
    position: absolute
    height: 100%
    left: 0
    padding-top: 62px
    top: 0
    width: 100%
    z-index: 2

  p.post-date
    color: $gray
    font-size: 24px
    line-height: 0.1
    margin-bottom: 80px

  p.header > a
    color: $gray
    font-size: 16px

.post-frame

  p.content
    font-size: 15px
    line-height: 1.6
    text-align: justify

.post-footer

  .tags, .by
    font-size: 15px

    i
      color: $gray
      margin: 6px

ul#tag-cloud
  margin: 20px 0

  li
    margin: 4px
  
    a
      border: $border 1px solid

    .active
      background-color: #eee
      color: $gray

  a.s
    font-size: 1em
  
  a.m
    font-size: 1.4em
  
  a.l
    font-size: 2em

  li.all > a 
    border: 0
    color: $gray

.not-yet
  font-size: 30px
  margin: 40px

  i
    margin: 14px