$border: #DDD
$text: black
$link: #FFA07A
$ginga: #63CE6E

.border
  border: 1px solid $border

@mixin round($radius)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius