@import 'presets'

.video-square
  position: relative
  padding-top: 27px
  padding-bottom: 67.5%
  height: 0
  margin-bottom: 0
  overflow: hidden
 
  .element 
    padding-bottom: 57.25%

  .vimeo 
    padding-top: 0
 
  iframe, object, embed
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  .video-title
    background-color: rgba(0, 0, 0, 0.8)
    font-size: 35px
    margin: 0
    padding: 30px 0 59px
    z-index: 10
    position: relative

    a
      color: white

// @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px)
//   .video-container padding-top: 0