.fb-like.al data-href="#{request.protocol}#{request.host_with_port}#{request.fullpath}" data-send="true" data-width="800" data-show-faces="true" data-font="segoe ui"
.fb-comments.border.al data-href="#{request.protocol}#{request.host_with_port}#{request.fullpath}" data-width="800" data-num-posts="10" data-colorscheme="light"